{% extends 'layout.html' %}
{% block content%}
    <div class="content-container">
        <h2>Account Details:</h2>
        <div class="billing-cards">
            <div class="bill-card">
                <div class="bill-details">
                    <h3>Visit Friday, Nov 1 10AM</h3>
                </div>
                <div class="bill-amounts">
                    <div class="amount-row">
                        <span>Billed</span>
                        <span>$141.00</span>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}