{% extends 'layout.html' %}
{% block content%}
    <div class="appointments-container">
        <!-- Example of an appointment card -->
        <div class="appointment-card">
            <div class="appointment-info">
                <span>Appointment: Friday, Nov 1   10AM</span>
            </div>
        </div>

        <!-- Add appointment button -->
        <button class="btn btn-primary" onclick="window.location.href='dashboard.html'">
            + New Appointment
        </button>
    </div>
{% endblock %}